html, body {
  background: lightblue;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

app-root {
  flex: 1;
}

.center, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.content {
  -webkit-align-self: stretch;
	align-self: stretch;
	overflow: hidden;
  padding: 8em 2em 3em;
  background: #91c794;
  width: 50%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.button {
	border-radius: 50%;
	background: #fff;
}


@media (max-width: 650px) {
  .container .content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .stack.stack--slamet {
    width: 250px;
  }
}
