html, body {
  background: lightblue;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

app-root {
  flex: 1;
}

.center, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.content {
  -webkit-align-self: stretch;
	align-self: stretch;
	overflow: hidden;
  padding: 8em 2em 3em;
  background: #91c794;
  width: 50%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.button {
  border: none;
	display: inline-block;
	padding: 0.25em;
	margin: 0 0.5em;
	cursor: pointer;
	font-size: 1.5em;
	width: 50px;
	height: 50px;
	z-index: 100;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	border-radius: 50%;
	background: #fff;
}


@media (max-width: 650px) {
  .container .content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .stack.stack--slamet {
    width: 250px;
  }
}

.controls {
	margin: 3em 0 0 0;
}

.button .fa {
	pointer-events: none;
}

.button:focus {
	outline: none;
}

.button--accept {
	color: #81d47d;
}

.button--reject {
	color: #e66868;
}

.counter {
	position: absolute;
	left: 50%;
	top: 30px;
	width: 40px;
	margin-left: -20px;
}

.counter svg {
	display: block;
	margin: 14px auto 0;
	fill: #58785A;
}

.counter__number {
	text-align: center;
	position: absolute;
	background: #e66868;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	bottom: -5px;
	right: -5px;
}
